.USER-CONTAINER{
    overflow: auto;
    margin-top:75px ;
}

.form-div-user{
    padding: 2rem;
    display: flex;
}

.form-container{
    min-width:300px;
    padding:3rem;
}

.form-div-user{
    margin: 0 auto;
}