.single-book-container {
  width: 90%;
  max-width: 1200px;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
}

.top-portion {
  width: 100%;
  margin-bottom: 2rem;
  img {
    border-radius: 10px;
  }
}

.rating-content-group {
  max-width: 900px;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.2rem;
}

.reviews-content{
    display:flex;
    align-items: center;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto ;
    margin-bottom: 2rem;
}

.post-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

