.wallet-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-top: 75px;
    height:500px;
    overflow: auto;

}