@import '../../../index.scss';
.cart-side-modal{
    padding: 1.5rem 1rem;
}

.cart-side-modal-header{
    text-align: center;
    border-bottom: 1px solid $gray-light-color;
    padding-bottom: 1rem;
}
