.book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;
}

.no-book{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    font-size: 1.5rem;
}